.logo {
	background-image: url('https://cdn.tgdd.vn/bachhoaxanh/www/Content/images/desktop/bhxdesk@2x.v202205251225.png');
	background-repeat: no-repeat;
    background-size: 500px auto;
    width: 150px;
    height: 40px;
    background-position: -45px -293px;
};